
*{
	/*reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;

}

/*.clear:after{
	content: " "; invisible element
	clear: both;
	display: block;
}*/

body {
	/*background-color: lightgrey;*/
	margin: 0 auto;
		font-family: 'PT Sans', sans-serif;
	/*font-family: 'Sacramento', cursive;*/
	/*font-family: 'Roboto', sans-serif;*/
}

.container-fluid {
	/*background-color: grey;*/
}


/*nav here ------------------------------*/
.page-title{
font-family: 'Sacramento', cursive;
font-size: 3em;
font-weight: bolder;
}

.page-title:visited, .page-title:link {
	color: #404040;
}

#main-icon {
	height: 4rem;
	/*width: 1.5em;*/
	/*height: 5em;*/
	/*height: 100px;*/
	margin-right: .2rem;
	/*margin-top: .2em;*/
	margin-bottom: .5em;
}



.ptsans-subtitle {
	font-family: 'PT Sans', sans-serif;

/*font-size: 2em;*/
font-weight: bold;
color: #72bb53;
}

.ptsans {
	font-family: 'PT Sans', sans-serif;
/*color: red;*/
}

.sacramento-font {
font-family: 'Sacramento', cursive;
font-size: 1.5em;
font-weight: bold;
}

p {
	font-family: 'PT Sans', sans-serif;
	color: #404040;
}




#main-navi {
	/*padding-top: 10vh;*/
	/*background-color: white;*/
	background-color: rgba(255,255,255,1);
	/*height: 9vh;*/
	margin-bottom: -50px;
	padding-bottom: 0;
}

.nav-item {
	padding-left: 1em;
	padding-right: 1em;
	background-color: white;
	/*border: 2px solid white;*/
	/*border-radius: .5em;*/
	/*margin-right: 2px;*/
	font-size: 1.1em;
	/*text-transform: uppercase;*/
}

.nav-link {
	/*border: 2px solid blue;*/
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	/*color: red;*/
}



.nav-link:link, .nav-link:visited{
	/*color: white;*/
	color: #72bb53;
}

.nav-item:hover {
	/*color: white;*/
	/*background-color: #4c7a34;*/
}

.nav-link:hover{
	color: purple;
}

#active-navis:visited, #active-navis:link {
	color: #404040;
	/*text-decoration: underline;*/
}

#active-navis:hover {
	/*text-decoration: underline;*/
	color: purple;
}

/*.nav-link:visited  {*/
	/*color: white;*/
	/*background-color: #red;*/
/*}*/

/*.active-navis .nav-link:visited, .active-navis .nav-link:link {*/
	/*color: white;*/
	/*background-color: #4c7a34;*/
	/*color: #4c7a34;*/
	/*text-decoration: underline;*/
/*}*/





#navbar-nav {
	/*background-color: black;*/
}

#burger-box {
	color: #4c7a34;
/*background-color: black;*/
border: 1px solid #4c7a34;
}

a:link
{
	color:  white;
	/*text-decoration-color: none;*/
}

a:visited {
	color: white;
}

a:hover {
	color: purple;
}

.btn-chinah {
font-family: 'PT Sans', sans-serif;
background-color: #83db5e;
color: white;
}

.btn-chinah:hover {
background-color: #72bb53;
color: white;
}

.btn-outline-chinah {
font-family: 'PT Sans', sans-serif;
background-color: white;
color:  #72bb53;
border: 1px solid #72bb53;
}

.btn-outline-chinah:hover {
background-color: #72bb53;
color:  white;
border: 1px solid #72bb53;
}
/**/
.form-control {
	font-family: 'PT Sans', sans-serif;
	color: #404040;
}
.form-control:focus {
	box-shadow: 0px 0px 3px 1Px #72bb53 ;
	border: 1px solid #72bb53;
}
/*end nav here ------------------------------*/

/*-----------------------------------------article--------------------------------- */
/*carousel*/

.carousel-photo-main {
	/*height: 80vh;*/
	width: 100%;
	/*height: 80vh;*/
}

#carousel-homepage {
	margin-top: 5.5em;
}

.main-carousel-caption
{
	/*background-color: red;*/
	background-color: rgba(64, 64, 64, .20);
}
/*end carousel*/


/*jumbotron here*/

#jumbotron-sumptuous {
background-color: white;	
color: rgba(75,75,75);
font-family: 'PT Sans', sans-serif;
padding: 0;
font-size: 1em;
}

/*end jumbotron*/

/*/footer--------------------------------------------------------------------------*/
.icon-footer-socials {
	font-size: 1.5em;
	padding-left: .5em;

}


#info-footer {
	/*min-height: 3em;*/
	/*color: white;*/
	line-height: 2.5em;
	text-align: center;
	/*background-color: green;*/
	background-color: #72bb53;
}

footer {
	height: auto;
	background-color: #404040;
	font-family: 'PT Sans', sans-serif;
	/*background-color: rgba(75, 75, 75, .8);*/
}



#footer-grey-notes {
	padding-top: .4em;
	padding-bottom: .4em;
	font-size: .8em;
	color: red;

}

#carousel-homepage {
	margin-top: 6.7em;
	height: 770px;
	/*border: 2px solid red;*/
}

.carousel-photo-main {
	height: 80vh;
}

#footer-fixed {
	width: 78.5%;
	margin: 0 auto;
}



/*end footer here-------------------------------------*/

/*#################################----------------------END MAIN PAGE HERE--------------------------------------------###########################*/
/*#################################----------------------index PAGE STARTS HERE---------------------------------------###########################*/



.helloindex {
	height: 90vh;
	background-image:url(../images/index.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
}

.helloindex-top {
	height: 5vh;
}

.welcome-box {
	text-align: center;
	background-color: rgba(255,255,255,0);
	position: relative;
	top: 35%;
}

#index-welcome-title {
	text-shadow: 2px 2px 4px black;
	font-family: 'Roboto Condensed', sans-serif;
	color: #e0da86;
	font-size: 5em;
}

#btn-chinah-index {
	margin-top: 2em;
font-family: 'PT Sans', sans-serif;
background-color: #404040;
color: white;
text-shadow: none;
/*padding: 1em;*/
}

#btn-chinah-index:hover {
background-color: #72bb53;
color: white;
}

#btn-chinah-index:active {
box-shadow: none;
}

/*#################################----------------------index ENDS STARTS HERE---------------------------------------###########################*/
/*#################################----------------------PRODUCE MAIN PAGE STARTS HERE---------------------------------------###########################*/

.carousel-photo-produce {
	/*margin-top: 10em;*/
	/*border: 1px solid red;*/
}

#carousel-produce {

	/*border: 2px solid red;*/
	width: 100%;
	/*align-items: center;*/
	margin: 0 auto;
	margin-top: 6.55em;
}

#below-carousel-text-produce {
	width: 70%;

}

#below-carousel-text-produce p{
	font-family: 'Sacramento', cursive;
	font-size: 2em;
}

.produce-menu-photo {
	width: 100%;
}

.card-produce-photo {
	width: 100%;
}
#produce-page .modal-title {
	color: #72bb53;
	/*font-family: Sacramento, sans-serif;*/
}

.card {
	border: none;
}



/*#################################----------------------PRODUCE MAIN PAGE ENDS HERE---------------------------------------###########################*/

/*#################################----------------------MEALS PAGE STARTS HERE--------------------------------------------###########################*/

.carousel-photo-meals {
	}

#carousel-meals {

	/*border: 2px solid red;*/
	width: 100%;
	/*align-items: center;*/
	margin: 0 auto;
	margin-top: 6.55em;
}

#below-carousel-text-meals {
	width: 70%;

}

#below-carousel-text-meals p{
	font-family: 'Sacramento', cursive;
	font-size: 2em;
}

.meals-menu-photo {
	width: 100%;
	 /*transition: filter .5s ease-in-out;*/
/*  -webkit-filter: grayscale(100%);*/ /* Ch 23+, Saf 6.0+, BB 10.0+ */
  /*filter: grayscale(100%);*/ /* FF 35+ */
}

.meals-menu-photo:hover{
	/*width: 120%;*/
	/*border: 2px solid red;*/
/*	-webkit-filter: grayscale(0%); *//* Ch 23+, Saf 6.0+, BB 10.0+ */
  /*filter: grayscale(0%);*/ /* FF 35+ */
}

.card-meals-photo {
	width: 100%;
}


/*------heart likes (meals and produce page)*/
.number-likes {
 color: #72bb53;
}

.number-dislikes {
	color: 
}

/*--------pagination (meals and produce)*/
.page-link, .page-link:link, .page-link:visited {
	color: #404040;
}

.active-pagination {
	background-color: #72bb53;
}

.active-pagination:link, .active-pagination:visited {
	color: white;
}

.image-modal-meals {
	/*width: 50vh;*/
}

#meals-page .modal-title {
	color: #72bb53;
	/*font-family: Sacramento, sans-serif;*/
}

.table-nutrition, {
	width:100%;
	/*font-size: .8em;*/

	}

table, th, td {
		border: 1px solid #72bb53;
		font-size: .85em;
		font-family: 'PT Sans', sans-serif;
		/*font-family: sacramento, sans-serif;*/

		}

td, th {
		padding-left: 10px;
		padding-right: 10px;
	}

.modal-body p {
			/*font-size: .85em;*/
		font-family: 'PT Sans', sans-serif;
		/*font-family: sacramento, sans-serif;*/
		text-align: justify;

}

/*#################################----------------------MEALS PAGE ENDS HERE-----------------------------------------------###########################*/

/*#################################----------------------ABOUT US PAGE STARTS HERE--------------------------------------------###########################*/
#article-aboutus {
	margin-top: 5em;
}

#article-aboutus .card, #article-values .card {
	border: none;
	margin: none;
}
/*#our-house-box-img {
	order: 2;
}


#our-house-box-text {
	order: 1;
}*/



/*#################################----------------------ABOUT US PAGE ENDS HERE-----------------------------------------------###########################*/
/*#################################----------------------CONTACT US PAGE STARTS HERE--------------------------------------------###########################*/



#article-contact-form {
	margin-top: 5.5em;
}

.contactus-social-icons {
	height: 3em;
}

.input-group-text {
	font-size: 1.5em;
	/*color: white;*/
	/*background-color: #404040;*/
	background-color: white;
	color: #72bb53;
}

#form-contactus {
/*align-self: left;*/
/*background-color: red;*/
/*width: 90%;*/
/*padding-right: 10em;*/
/*border: 1px solid red;*/
}

#chinahsgarden-map {
	width: 90%; 
	height: 300px;
	padding:.5em;
	/*border:1px solid #404040;*/
}

#mailing-list-form {
	margin-top: 5em;
}

#btn-submit-maillist {
	height: 2.4em;
}

.list-group-item {
		font-family: 'PT Sans', sans-serif;
		color: #404040;
}

 .social-icons-text:visited, .social-icons-text:link {
	color: #404040;
	text-decoration: none;
}

 .social-icons-text:hover, .social-icons-text:hover {
	font-weight: bold;
}
/*#################################----------------------CONTACT US PAGE ENDS HERE-----------------------------------------------###########################*/



/**************************************************************************************MOBILE SCREEN**************************************************************************************/

@media only screen and (max-width: 400px) {

.welcome-box {
	position: relative;
	top: 60%;
}

#index-welcome-title {
		font-size: 3em;
}


#main-icon {
	/*margin-top: 0.5em;*/
	/*margin-left: 0.5em;*/
	height: 2.5em;
}

p {
	font-size: .8em;
}

.page-title{
font-size: 2em;
font-weight: bolder;
}


.ptsans-subtitle {
font-size: 1.2em;
}

.navbar {
	padding: 0;
}

.carousel-photo-main {
	height: 30vh;
	/*width: 100%;*/
}

#burger-box {
	margin-right: 1em;
}


.nav-item {  /*remove border-radius of the expand lg screen*/
	border-radius: 0;
}

#carousel-homepage {
	margin-top: 6.7em;
	height: 30vh;
	/*border: 2px solid red;*/
}

.carousel-photo-main {
	height: 30vh;
}

.footer-text-format {
	font-size: 1em;
	line-height: 1.5em;
}

#info-footer {
	padding-top: 1em;
	padding-bottom: 1em;
	min-height: 3em;
	/*color: white;*/
	line-height: 1.1em;
	/*text-align: center;*/
	/*background-color: green;*/
	font-size: .7em;
}

#socials-icons {
	display: none;

}
#footer-grey-notes {
	
	font-size: .8em;
}

#footer-fixed {
	width: 93%;
	margin: 0 auto;
}

/*#footer-fixed-contact {
	
	width: 93%;
	margin: 0 auto;
}*/

#jumbotron-sumptuous {
padding-top: 2em;
padding-bottom: 3em; 
	
}


#mailing-list-form-mobile {
	background-color: #404040;
	height: 7em;
	padding: .5em;
	border-radius: 4px 4px 0px 0px;
	position: relative;
	bottom: -20px;
	/*font-size: 1em;*/
	/*font-family: sacramento, sans-serif;*/
}

#mailing-list-form-mobile h3 {
 	font-size: 1em;
}

#mailing-list-form-mobile .form-control {
 	height: 2.5em;
 	font-size: .8em;
}

#mailing-list-form-mobile .input-group-text {
	height: 1.35em;
}

#mailing-list-form-mobile .btn {
	font-size: .85em;
	/*height: 1.35em;*/
}


/*
#mailing-list-form-mobile h3 {
 	font-size: 1em;
}
*/

#below-carousel-text-meals {
	width: 100%;
}


#below-carousel-text-meals p{
	font-family: 'Sacramento', cursive;
	font-size: 1.2em;
}

.meals-item-title {
	font-size: 1em;
}

.meals-price, .meals-rate{
	font-size: .8em;
}

#below-carousel-text-produce {
	width: 100%;
}


#below-carousel-text-produce p{
	font-family: 'Sacramento', cursive;
	font-size: 1.2em;
}


.produce-item-title {
	font-size: 1em;
}

.produce-price, .produce-addtl-info{
	font-size: .8em;
}

/*.click-to-know-more {
	display: none;
}*/

#footer-fixed-not-fixed-mobile-main {
	position: absolute;
	/*top: 75px;	margin-top: 1000px;*/
	width: 92%;
	/*margin: 0 auto;*/
	bottom: 0;
}

} /*end of mobile media*/


/***********************************************************************TABLET VIEW ***************************************************************************************/
@media only screen and (min-width: 401px) and (max-width: 960px) {

.welcome-box {
	position: relative;
	top: 60%;
}

#main-icon {
	height: 2em;
}

#carousel-homepage {
	margin-top: 6.7em;
	height: auto;
	/*border: 2px solid red;*/
}


#main-navi {
	/*height: 7em;*/
	/*margin-bottom: -1000px; */
}

#jumbotron-sumptuous {
	/*padding: 0;*/
padding-top: 2em;
/*padding-bottom: 4em; */
}

#jumbotron-sumptuous h3 {
	font-size: 2.5em;
}

#mailing-list-form-mobile {
	background-color: #404040;
	padding: 2.5em;
	border-radius: 8px 8px 0px 0px;
	/*font-family: sacramento, sans-serif;*/
	position: absolute;
	bottom: 69px;
	width: 96%;
}




#mailing-list-form-mobile h3 {
 	font-size: 1.2em;
}

#mailing-list-form-mobile .form-control {
 	height: 2.6em;
 	font-size: .8em;
}

#mailing-list-form-mobile .input-group-text {
	height: 1.35em;
}

#mailing-list-form-mobile .btn {
	font-size: .85em;
	/*height: 1.35em;*/
}
#footer-fixed {
	width: 97%;
	margin: 0 auto;
}

#socials-icons, #remove-tablet {
	display: none;

}

.carousel-photo-main {
	height: 50vh;

	/*width: 100%;*/
}


.nav-item {  /*remove border-radius of the expand lg screen*/
	border-radius: 0;
}

#below-carousel-text-meals {
	width: 100%;
}


#below-carousel-text-meals p{
	font-family: 'Sacramento', cursive;
	font-size: 1.7em;
}

.cut-content-meals {
	display: none;
}

.cut-content-produce {
	display: none;
}

#below-carousel-text-produce {
	width: 100%;
}


#below-carousel-text-produce p{
	font-family: 'Sacramento', cursive;
	font-size: 1.7em;
}

#form-contactus {
	margin-top: 2.8em;
}

#footer-fixed-not-fixed-mobile-main {
	position: absolute;
	/*top: 75px;	margin-top: 1000px;*/
	width: 96%;
	/*margin: 0 auto;*/
	bottom: 0;
}

} /*end of tablet media*/

/**************************************************************************************DESKTOP VIEW**************************************************************************************/
@media only screen and (min-width: 961px) { 
body {
	width: 80%;
}

#jumbotron-sumptuous {
	display: none;
}

#mailing-list-form-mobile {
	display: none;
}

#footer-fixed-not-fixed-mobile-main {
	position: absolute;
	/*top: 75px;	margin-top: 1000px;*/
	width: 78.5%;
	/*margin: 0 auto;*/
	bottom: 0;
}

#footer-fixed-not-fixed-mobile-contact {
	position: absolute;
	/*top: 75px;	margin-top: 1000px;*/
	width: 78.5%;
	/*margin: 0 auto;*/
	bottom: 0;
}

/*.click-to-know-more {
	display: none;
}*/

} /*end of desktop media*/



