
*{
	/*reset*/
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;

}


body {
	margin: 0 auto;
		font-family: 'PT Sans', sans-serif;
}



/*nav here ------------------------------*/
.page-title{
	font-family: 'Sacramento', cursive;
	font-size: 3em;
	font-weight: bolder;
}

.page-title:visited, .page-title:link {
	color: #404040;
}

#main-icon {
	height: 4rem;
	margin-right: .2rem;
	margin-bottom: .5em;
}



.ptsans-subtitle {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
	color: #72bb53;
}

.ptsans {
	font-family: 'PT Sans', sans-serif;
}

.sacramento-font {
	font-family: 'Sacramento', cursive;
	font-size: 1.5em;
	font-weight: bold;
}

p {
	font-family: 'PT Sans', sans-serif;
	color: #404040;
}


#main-navi {
	background-color: rgba(255,255,255,1);
	margin-bottom: -50px;
	padding-bottom: 0;
}

.nav-item {
	padding-left: 1em;
	padding-right: 1em;
	background-color: white;
	font-size: 1.1em;
}

.nav-link {
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}



.nav-link:link, .nav-link:visited{
	color: #72bb53;

}


.nav-link:hover{
	color: #52893b;
}

#active-navis:visited, #active-navis:link {
	color: #404040;
}

#active-navis:hover {
	color: #52893b;
}


#burger-box {
	color: #4c7a34;
	border: 1px solid #4c7a34;
}

a:link
{
	color:  white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	color: #52893b;
}

.btn-chinah {
	font-family: 'PT Sans', sans-serif;
	background-color: #83db5e;
	color: white;
}

.btn-chinah:hover {
	background-color: #72bb53;
	color: white;
}

.btn-outline-chinah {
	font-family: 'PT Sans', sans-serif;
	background-color: white;
	color:  #72bb53;
	border: 1px solid #72bb53;
}

.btn-outline-chinah:hover {
	background-color: #72bb53;
	color:  white;
	border: 1px solid #72bb53;
}

.form-control {
	font-family: 'PT Sans', sans-serif;
	color: #404040;
}
.form-control:focus {
	box-shadow: 0px 0px 3px 1Px #72bb53 ;
	border: 1px solid #72bb53;
}
/*end nav here ------------------------------*/

/*-----------------------------------------article--------------------------------- */
/*carousel*/

.carousel-photo-main {
	width: 100%;
	/*border: 2px solid red;*/
}

#carousel-homepage {
	margin-top: 5.5em;
	/*border: 2px solid blue;*/
}

.main-carousel-caption
{
	background-color: rgba(64, 64, 64, .20);
}
/*end carousel*/


#go-down-icon {
	font-size: 3em;
	color:  #72bb53;
}


/*jumbotron here*/

#jumbotron-sumptuous {
background-color: white;	
color: rgba(75,75,75);
font-family: 'PT Sans', sans-serif;
padding: 5em;
text-align: center;
font-size: 1em;
}

/*end jumbotron*/

/*SERVICES */


.services-offered {
	height: 70vh;
	/*background-color: black;*/
	/*margin: .5em;*/
	border: 2px solid white;
	padding: 0;
}

.services-photo-main {
	width: 100%;
	padding: 1em;
}

#services-offered1 {
	background-image: url("../images/produce.jpg");
	 opacity: .7;
	 background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#services-offered2 {
	background-image: url("../images/hotmeals.jpg");
	 opacity: .7;
	 background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#services-offered3 {
	background-image: url("../images/delivery.jpg");
	 opacity: .7;
	 background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.before-overlay-text {
	font-size: 2em;
	/*text-align: center;*/
	padding-left: 1em;
	padding-right: 1em;
	/*position: absolute;*/
	/*top: 2em;*/
	letter-spacing: .1em;
	background-color: rgba(0,0,0,.3)
	/*font-family: */
}

.button-overlay-text {
	padding: 2em;
}

.overlay-text {
	background-color: rgba(0,0,0,.3);
	font-size: 2em;
	line-height: 1.4em;
	/*padding: .5em;*/
	font-family: 'pt sans', sans-serif;
	padding-bottom: .5em;
}
.overlay {
	height: 100%;
	width: 100%;
	/*background-color: rgba(250,250,250,.5);*/

	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-color: rgba(0,0,0,.2);*/
	opacity: 0;
}

#services-offered1:hover {
opacity: 1;
transition: .5s ease;

}

#services-offered2:hover {
opacity: 1;
transition: .5s ease;

}

#services-offered3:hover {
opacity: 1;
transition: .5s ease;

}


#services-offered1:hover #overlay1 {
opacity: 1;
transition: .8s ease;
position: relative;
}

#services-offered2:hover #overlay2 {
opacity: 1;
transition: .8s ease;
position: relative;
}

#services-offered3:hover #overlay3 {
opacity: 1;
transition: .8s ease;
position: relative;
}


#services-offered1:hover #before-overlay-text1{
opacity: 0;

}


#services-offered2:hover #before-overlay-text2{
opacity: 0;

}


#services-offered3:hover #before-overlay-text3{
opacity: 0;

}




/*END OF SERVICES */


/*/footer--------------------------------------------------------------------------*/
.icon-footer-socials {
	font-size: 1.5em;
	padding-left: .5em;
}

#info-footer {
	line-height: 2.5em;
	text-align: center;
	background-color: #72bb53;
}

footer {
	height: auto;
	background-color: #404040;
	font-family: 'PT Sans', sans-serif;
}


#footer-grey-notes {
	padding-top: .4em;
	padding-bottom: .4em;
	font-size: .8em;
	color: red;

}

#carousel-homepage {
	margin-top: 6.7em;
	height: 740px;
}

.carousel-photo-main {
	height: 80vh;
}

#footer-fixed {
	width: 78.5%;
	margin: 0 auto;
}



/*end footer here-------------------------------------*/

/*#################################----------------------END MAIN PAGE HERE--------------------------------------------###########################*/

/*#################################----------------------index PAGE STARTS HERE---------------------------------------###########################*/
.helloindex {
	height: 90vh;
	background-image:url(../images/index.jpg);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 5em;
}

.helloindex-top {
	height: 5vh;
}

.welcome-box {
	text-align: center;
	background-color: rgba(255,255,255,0);
	position: relative;
	top: 35%;
}

#index-welcome-title {
	text-shadow: 2px 2px 4px black;
	font-family: 'Roboto Condensed', sans-serif;
	color: #e0da86;
	font-size: 5em;
}

#btn-chinah-index {
	margin-top: 2em;
	font-family: 'PT Sans', sans-serif;
	background-color: #404040;
	color: white;
	text-shadow: none;
}

#btn-chinah-index:hover {
	background-color: #72bb53;
	color: white;
}

#btn-chinah-index:active {
	box-shadow: none;
}

/*#################################----------------------index ENDS STARTS HERE---------------------------------------###########################*/
/*#################################----------------------PRODUCE MAIN PAGE STARTS HERE---------------------------------------###########################*/

#carousel-produce {
	width: 100%;
	margin: 0 auto;
	margin-top: 6.55em;
}

#below-carousel-text-produce {
	width: 70%;
}

#below-carousel-text-produce p{
	font-family: 'Sacramento', cursive;
	font-size: 2em;
}

.produce-menu-photo {
	width: 100%;
	 -webkit-filter: brightness(120%); /* Safari */
    filter: brightness(120%);
}

.produce-menu-photo:hover {
 	-webkit-filter: brightness(100%); /* Safari */
    filter: brightness(100%);
}


.card-produce-photo {
	width: 100%;
}
#produce-page .modal-title {
	color: #72bb53;
}

.card {
	border: none;
}


/*#################################----------------------PRODUCE MAIN PAGE ENDS HERE---------------------------------------###########################*/


/*#################################----------------------MEALS PAGE STARTS HERE--------------------------------------------###########################*/

#carousel-meals {
	width: 100%;
	margin: 0 auto;
	margin-top: 6.55em;
}

#below-carousel-text-meals {
	width: 70%;

}

#below-carousel-text-meals p{
	font-family: 'Sacramento', cursive;
	font-size: 2em;
}

.meals-menu-photo {
	width: 100%;
	-webkit-filter: brightness(120%); /* Safari */
    filter: brightness(120%);
}

.meals-menu-photo:hover{
	 -webkit-filter: brightness(100%); /* Safari */
    filter: brightness(100%);
}

.card-meals-photo {
	width: 100%;
}


/*------heart likes (meals and produce page)*/
.number-likes {
 color: #72bb53;
}

.number-dislikes {
	color: #72bb53; 
}

/*--------pagination (meals and produce)*/
.page-link, .page-link:link, .page-link:visited {
	color: #404040;
}

.active-pagination {
	background-color: #72bb53;
}

.active-pagination:link, .active-pagination:visited {
	color: white;
}

#meals-page .modal-title {
	color: #72bb53;
}

.table-nutrition, {
	width:100%;
}

table, th, td {
		border: 1px solid #72bb53;
		font-size: .85em;
		font-family: 'PT Sans', sans-serif;
}

td, th {
		padding-left: 10px;
		padding-right: 10px;
}

.modal-body p {
		font-family: 'PT Sans', sans-serif;
		text-align: justify;
}

/*#################################----------------------MEALS PAGE ENDS HERE-----------------------------------------------###########################*/

/*#################################----------------------ABOUT US PAGE STARTS HERE--------------------------------------------###########################*/
#article-aboutus {
	margin-top: 5em;
}

#article-aboutus .card, #article-values .card {
	border: none;
	margin: none;
}


/*#################################----------------------ABOUT US PAGE ENDS HERE-----------------------------------------------###########################*/
/*#################################----------------------CONTACT US PAGE STARTS HERE--------------------------------------------###########################*/



#article-contact-form {
	margin-top: 5.5em;
}

.contactus-social-icons {
	height: 3em;
}

.input-group-text {
	font-size: 1.5em;
	background-color: white;
	color: #72bb53;
}

#chinahsgarden-map {
	width: 75%; 
	height: 400px;
	padding:.5em;
}

#mailing-list-form {
	margin-top: 5em;
}

#btn-submit-maillist {
	height: 2.4em;
}

.list-group-item {
		font-family: 'PT Sans', sans-serif;
		color: #404040;
}

 .social-icons-text:visited, .social-icons-text:link {
	color: #404040;
	text-decoration: none;
}

 .social-icons-text:hover, .social-icons-text:hover {
	font-weight: bold;
}

#twitter-timeline-container {
	padding-top: 1em;
	height: 40em;
	/*border: 2px solid red;*/
	width: 100%;
}


/*#################################----------------------CONTACT US PAGE ENDS HERE-----------------------------------------------###########################*/



/**************************************************************************************MOBILE SCREEN**************************************************************************************/

@media only screen and (max-width: 400px) {

		.welcome-box {
			position: relative;
			top: 60%;
		}


		.helloindex {
			height: 100vh;
			border-radius: 0;
		}

		.helloindex-top {
			height: 0;
		}

		#index-welcome-title {
				font-size: 3em;
		}


		#main-icon {
			height: 2.5em;
		}

		p {
			font-size: .8em;
		}

		.page-title{
			font-size: 2em;
			font-weight: bolder;
		}


		.ptsans-subtitle {
			font-size: 1.2em;
		}

		.navbar {
			padding: 0;
		}

		.carousel-photo-main {
			height: 30vh;
		}

		#burger-box {
			margin-right: 1em;
		}


		.nav-item {  /*remove border-radius of the expand lg screen*/
			border-radius: 0;
		}

		#carousel-homepage {
			margin-top: 6.7em;
			height: 30vh;
		}

		.carousel-photo-main {
			height: 30vh;
		}

		#go-down-icon {
			display: none;
		}
		.before-overlay-text {
		font-size: 1.2em;
		/*letter-spacing: .1em;*/
		padding: 0;
		}

		.button-overlay-text {
			padding-top: 0;
			padding-bottom: 0;
		}
		.overlay-text{
			font-size: 1em;
		}
		.overlay {

		font-size: 1em;
		opacity: 1;
		}

		.services-offered {
			height: 45vh;
		}

		#services-offered1,
		#services-offered2, 
		#services-offered3 {
		 opacity: 1;
		}

		#services-offered1:hover #before-overlay-text1,
		#services-offered2:hover #before-overlay-text2,
		#services-offered3:hover #before-overlay-text3{
		opacity: 1;

		}



		.footer-text-format {
			font-size: 1em;
			line-height: 1.5em;
		}

		#info-footer {
			padding-top: 1em;
			padding-bottom: 1em;
			min-height: 3em;
			line-height: 1.1em;
			font-size: .7em;
		}

		#socials-icons {
			display: none;

		}
		#footer-grey-notes {
			
			font-size: .8em;
		}

		#footer-fixed {
			width: 93%;
			margin: 0 auto;
		}

		#jumbotron-sumptuous {
			padding: 3em;
			margin-bottom: 0;
		}		

		#mailing-list-form-mobile {
			background-color: #404040;
			height: 7em;
			padding: .5em;
			border-radius: 4px 4px 0px 0px;
			margin-top: 1em;
			/*position: relative;*/
			/*bottom: 25px;*/
		}

		#mailing-list-form-mobile h3 {
		 	font-size: 1em;
		}

		#mailing-list-form-mobile .form-control {
		 	height: 2.5em;
		 	font-size: .8em;
		}

		#mailing-list-form-mobile .input-group-text {
			height: 1.35em;
		}

		#mailing-list-form-mobile .btn {
			font-size: .85em;
		}

		#below-carousel-text-meals {
			width: 100%;
		}


		#below-carousel-text-meals p{
			font-family: 'Sacramento', cursive;
			font-size: 1.2em;
		}

		.meals-item-title {
			font-size: 1em;
		}

		.meals-price, .meals-rate{
			font-size: .8em;
		}


		.meals-menu-photo {
			 -webkit-filter: brightness(100%); /* Safari */
		    filter: brightness(100%);
		}

		.produce-menu-photo {
			width: 100%;
			 -webkit-filter: brightness(100%); /* Safari */
		    filter: brightness(100%);
		}
		
		#below-carousel-text-produce {
			width: 100%;
		}


		#below-carousel-text-produce p{
			font-family: 'Sacramento', cursive;
			font-size: 1.2em;
		}


		.produce-item-title {
			font-size: 1em;
		}

		.produce-price, .produce-addtl-info{
			font-size: .8em;
		}

		#footer-fixed-not-fixed-mobile-main {
			/*position: absolute;*/
			width: 100%;
			/*bottom: 0;*/
		}

		#follow-us {
			margin-bottom: 2em;
		}

		#mailing-list-form {
			margin-bottom: 2em;
		}


} /*end of mobile media*/


/***********************************************************************TABLET VIEW ***************************************************************************************/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	.welcome-box {
		position: relative;
		top: 60%;
	}

	.helloindex {
		height: 100vh;
		border-radius: 0;
	}

	.helloindex-top {
		height: 0;
	}


	#main-icon {
		height: 2em;
	}

	#carousel-homepage {
		margin-top: 6.7em;
		height: auto;
	}

	.services-offered {
		height: 30vh;
	}

	.button-overlay-text {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: .5em;
		padding-right: .5em;

	}
	.before-overlay-text {
	font-size: 2em;
	
	}

	.overlay-text{
		font-size: .60em;
	
		padding: 0;
	}
	.overlay {
	padding: 0;
	font-size: 2em;
	opacity: 1;
	}

	#overlay3 {
		padding: 2em;
	}
		

	.services-offered {
		height: 30vh;
		margin-bottom: 0;
	}

	#services-offered1,
	#services-offered2, 
	#services-offered3 {
	 opacity: 1;
	}

	#services-offered1:hover #before-overlay-text1,
	#services-offered2:hover #before-overlay-text2,
	#services-offered3:hover #before-overlay-text3{
	opacity: 1;

	}


	
	#jumbotron-sumptuous {
	 padding: 0;
	 padding-top: 1em;
	}

	#go-down-icon {
		display: none;
	}

	#jumbotron-sumptuous h3 {
		font-size: 2.5em;
	}

	#mailing-list-form-mobile {
		display: none;
	}


	#mailing-list-form-mobile h3 {
	 	font-size: 1.2em;
	}

	#mailing-list-form-mobile .form-control {
	 	height: 2.6em;
	 	font-size: .8em;
	}

	#mailing-list-form-mobile .input-group-text {
		height: 1.35em;
	}

	#mailing-list-form-mobile .btn {
		font-size: .85em;
	}

	#footer-fixed {
		width: 97%;
		margin: 0 auto;
	}

	#socials-icons, #remove-tablet {
		display: none;

	}

	.carousel-photo-main {
		height: 50vh;
	}


	.nav-item {  /*remove border-radius of the expand lg screen*/
		border-radius: 0;
	}

	#below-carousel-text-meals {
		width: 100%;
	}


	#below-carousel-text-meals p{
		font-family: 'Sacramento', cursive;
		font-size: 1.7em;
	}

	.cut-content-meals {
		display: none;
	}



	.meals-menu-photo {
		 -webkit-filter: brightness(100%); /* Safari */
	    filter: brightness(100%);
	}

	.produce-menu-photo {
		width: 100%;
		 -webkit-filter: brightness(100%); /* Safari */
	    filter: brightness(100%);
	}

	.cut-content-produce {
		display: none;
	}

	#below-carousel-text-produce {
		width: 100%;
	}


	#below-carousel-text-produce p{
		font-family: 'Sacramento', cursive;
		font-size: 1.7em;
	}

	#form-contactus {
		margin-top: 2.8em;
	}

	#follow-us {
		margin-bottom: 2em;
	}

	#mailing-list-form {
		margin-bottom: 2em;
	}

	#twitter-timeline-container {
	height: 10em;
	width: 100%;
	}



	#footer-fixed-not-fixed-mobile-main {
		/*position: absolute;*/
		width: 100%;
		/*bottom: 0;*/
	}



} /*end of tablet media*/

/**************************************************************************************DESKTOP VIEW**************************************************************************************/
@media only screen and (min-width: 961px) { 
	body {
		width: 80%;
	}

	#jumbotron-sumptuous {
		display: none;
	}

	#mailing-list-form-mobile {
		display: none;
	}

	#footer-fixed-not-fixed-mobile-main {
		/*position: absolute;*/
		width: 100%;
		/*bottom: 0;*/
	}

	#footer-fixed-not-fixed-mobile-contact {
		/*position: absolute;*/
		width: 100%;
		/*bottom: 0;*/
	}

} /*end of desktop media*/



